@font-face {
    font-family: 'digit';
    src: url('./digital-7.ttf');
}

.clock{
    width: 800px;
    height: 300px;
    background-color: darkgrey;
    border: 5px solid darkslateblue;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50px;
}

.digit{
    font-family: digit, sans-serif;
    font-size: 15rem;
}

.back {
    opacity: 50%;
    position: absolute;
    width: 500px;
    text-align: right;
}
.front {
    color: darkgoldenrod;
    position: absolute;
    width: 500px;
    text-align: right;
}

.button {
    border: 1px solid whitesmoke;
    background-color: black;
    color: darkgoldenrod;
    font-size: 0.7rem;
}

@keyframes flash {
    0% {
        opacity: 100%;
    }
    79%{
        opacity: 100%;
    }
    80%{
        opacity: 0%;
    }
    90%{
        opacity: 0%;
    }
    91%{
        opacity: 100%;
    }
}